/* 
    Document   : responsive-style.css
    Created on : 25 Sep, 2012, 5:05:16 PM
    Author     : ranjeet
    Description:
        Purpose of the stylesheet follows.
*/


@media screen and (max-width: 1152px) {

    #wrapper {
        max-width:960px;
    }

}

@media screen and (max-width: 960px) {

    .content-sidebar-wrap,
    #content,
    #sidebar-first,
    #sidebar-second {
        float:none;
        width:auto !important;
    }

    #sidebar-first {
        clear:both;
    }

    #sidebar-first,
    #sidebar-second,
    #head,
    #foot {
        padding:0 3.52%;
    }

}

@media screen and (max-width: 640px) {

    #site-title,
    #site-description {
        float:none;
        margin:0;  
        line-height:1.62em;
    }


    #site-title {
        padding-top:18px;
    }

    #site-description {
        padding-bottom:18px;
    }

    #main-menu ul {
        display:none;
    }

    #main-menu li ul {
        position:static;
    }

    #main-menu li ul ul {
        margin:0 !important;
    }

    #main-menu ul,
    #main-menu li {
        float:none;
        max-width:100%;
    }

    #main-menu a {
        width:100%;
        padding:0;
        background:#444;
        background:-moz-linear-gradient(#555,#333);
        background:-webkit-linear-gradient(#555,#333);
        background:-o-linear-gradient(#555,#333);
        background:-ms-linear-gradient(#555,#333);
        background:linear-gradient(#555,#333);
    }

    #main-menu li li a {
        text-align:center;
    }

    #main-menu li li li a {
        background:#777;
        border-top-color:#7f7f7f;
    }

    #main-menu a:hover {
        background:#888;
        background:-moz-linear-gradient(#999,#777);
        background:-webkit-linear-gradient(#999,#777);
        background:-o-linear-gradient(#999,#777);
        background:-ms-linear-gradient(#999,#777);
        background:linear-gradient(#999,#777);
    }

    #main-menu li:hover > ul,
    #main-menu li li:hover > ul,
    #main-menu li li li:hover > ul {
        display:none;
    }

    .drop-down-toggle {
        display:block;
    }

    #main-menu li li .drop-down-toggle {
        top:5px;
    }

    #main-menu .nav-toggle {
        display:block;
        font-size:15px;
        font-weight:bold;
        line-height:40px;
    }

    .flex-control-nav li {
        margin:0 0 0 10px;
    }

    .flex-control-nav li:first-child {
        margin:0;
    }

    .flex-control-nav li a {
        box-shadow:none;
        background:rgba(255, 255, 255, 0.75);
    }



    .content-sidebar-wrap,
    #sidebar-first,
    #sidebar-second {
        float:none;
        width:auto;
    }

    .content-sidebar-wrap #content {
        float: left;
        width:auto;
    }

    #sidebar-first .block,
    #sidebar-second .block,
    #footer-area .column {
        float:none;
        width:auto !important;
        margin-left:0;
    }

    #sidebar-first {
        clear:both;
    }

    #footer-area .column {
        margin:10px 0;
    }

    .copyright,
    .credits {
        float:none;
        text-align:left;
    }


    @media screen and (max-width: 440px) {
        input.form-text, select.form-select {
        width: 93%;
    }
    textarea.form-textarea {
        width: 100%
    }
}

}